<form novalidate>
  <div ngClass="section">
    <h6 *ngIf="server.id < 1">New Server</h6>
    <h6 *ngIf="server.id > 0">Server "{{server.name}}" (ID: {{server.id}})</h6>
    <div class="row">
      <mz-checkbox-container class="col s2">
        <input mz-checkbox
               id="serverActive-{{server.id}}"
               name="serverActive-{{server.id}}"
               type="checkbox"
               [label]="'Active'"
               [(ngModel)]="server.active"
               (change)="this.emitChanges()"
        >
      </mz-checkbox-container>
      <mz-input-container ngClass="col s8">
        <input mz-input required
               id="serverName-{{server.id}}"
               name="serverName-{{server.id}}"
               type="text"
               [label]="'Name'"
               [(ngModel)]="server.name"
               (change)="this.emitChanges()"
        />
      </mz-input-container>
      <mz-input-container ngClass="col s1">
        <input mz-input required
               id="serverOrder[{{server.id}}]"
               name="serverOrder[{{server.id}}]"
               type="number"
               [min]="0"
               [max]="255"
               [label]="'Order'"
               [(ngModel)]="server.order"
               (change)="this.emitChanges()"
        />
      </mz-input-container>
      <div class="col s1">
        <a mz-button [float]="true" (click)="this.delete()" type="button">
          <i mz-icon-mdi [align]="'right'" [icon]="'delete'"></i>
        </a>
      </div>
      <mz-input-container ngClass="col s8 m6">
        <input mz-input required
               id="serverIp-{{server.id}}"
               name="serverIp-{{server.id}}"
               type="text"
               [label]="'Ip'"
               [(ngModel)]="server.ip"
               (change)="this.emitChanges()"
        />
      </mz-input-container>
      <mz-input-container ngClass="col s4 m6">
        <input mz-input required
               id="serverPort-{{server.id}}"
               name="serverPort-{{server.id}}"
               type="number"
               min="0"
               max="65535"
               [label]="'Port'"
               [(ngModel)]="server.port"
               (change)="this.emitChanges()"
        />
      </mz-input-container>
    </div>
  </div>
</form>
