nav {
    background-image: url("assets/img/banner.jpg");
    background-position: center;
    height: 200px;
}

nav > .container-fluid {
    margin-top: 60px;
    margin-left: 5%;
    margin-right: 5%;
}

.bright-text {
    font-weight:900;
    color: black!important;
}

.bright-text > a{
    font-weight: 500;
    text-align: center;
    color: floralwhite;
}

.container {
    margin-top: 225px;
}

.no-effects {
    text-decoration: none;
    font-weight: bold;
}

.no-effects:hover {
    color: white!important;
}