<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <span class="bright-text" style="font-size: 40px;">
                        3kliksphilip
                    </span>
                    <span class="bright-text" style="font-size: 20px;">
                        Servers Forum
                    </span>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="bright-text"><a href="{{loginurl}}" class="no-effects"><i class="fa fa-user fa-2x"></i><br>Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>