<div>
  <mz-sidenav
    #profileSidenav
    [id]="'sidenav-user-profile'"
    [collapseButtonId]="'sidenav-user-profile-btn'"
    [edge]="'right'"
    *ngIf="authService.loggedIn">
    <mz-sidenav-header>
      <div ngClass="user-view">
        <img [src]="authService.user.avatarfull" ngClass="circle avatar"/>
        <div ngClass="white-text name">{{authService.user.personaname}}</div>
      </div>
    </mz-sidenav-header>
    <mz-sidenav-subheader>Profile</mz-sidenav-subheader>
    <!--
    <mz-sidenav-link>
      <a href="#">First Link</a>
    </mz-sidenav-link>
    -->
    <ng-container *ngIf="authService.loggedIn && authService.user.roleNames.indexOf('admin') > -1">
      <mz-sidenav-divider></mz-sidenav-divider>
      <mz-sidenav-subheader>Administration</mz-sidenav-subheader>
      <mz-sidenav-link [active]="router.url.startsWith('/admin/general')"
                       (click)="profileSidenav.opened = !profileSidenav.opened">
        <a routerLink="/admin/general">General Settings</a>
      </mz-sidenav-link>
      <mz-sidenav-link [active]="router.url.startsWith('/admin/users')"
                       (click)="profileSidenav.opened = !profileSidenav.opened">
        <a routerLink="/admin/users">User Management</a>
      </mz-sidenav-link>
    </ng-container>
    <mz-sidenav-divider></mz-sidenav-divider>
    <mz-sidenav-link (click)="this.authService.logout()">
      <a>Logout</a>
    </mz-sidenav-link>
  </mz-sidenav>
  <!--
  <mz-sidenav
    [id]="'sidenav-mobile'"
    [collapseButtonId]="'sidenav-mobile-btn'">
    <mz-sidenav-link [active]="router.url.startsWith('/servers')">
      <a routerLink="/servers">Servers</a>
    </mz-sidenav-link>
    <mz-sidenav-link [active]="router.url.startsWith('/forum')">
      <a routerLink="/forum">Forum</a>
    </mz-sidenav-link>
    <mz-sidenav-link *ngIf="!authService.loggedIn">
      <a href="/api/auth/steam">Login</a>
    </mz-sidenav-link>
    <mz-sidenav-link *ngIf="authService.loggedIn">
      <a>{{authService.user.personaname}}</a>
    </mz-sidenav-link>
  </mz-sidenav>
  -->

  <mz-navbar>
    <a class="brand-logo" id="sidenav-mobile-btn">{{settingService.settingsFlat.page_title}}</a>
    <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item [active]="router.url.startsWith('/servers')">
        <a routerLink="/servers">Servers</a>
      </mz-navbar-item>
      <!--
      <mz-navbar-item [active]="router.url.startsWith('/forum')">
        <a routerLink="/forum">Forum</a>
      </mz-navbar-item>
      -->
      <mz-navbar-item *ngIf="!authService.loggedIn">
        <a href="/api/auth/steam">Login</a>
      </mz-navbar-item>
      <mz-navbar-item *ngIf="authService.loggedIn" id="sidenav-user-profile-btn">
        <a>{{authService.user.personaname}}</a>
      </mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>
</div>
