<div>
  <ul id="navbar-user-dropdown" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Lorum-2.0</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a routerLink="/test">Components</a></li>
        <li *ngIf="!authService.loggedIn"><a href="/api/auth/steam">Login</a></li>
        <li *ngIf="authService.loggedIn" ngClass="dropdown-trigger" data-target="navbar-user-dropdown"><a>{{this.authService.user.personaname}}</a></li>
        <li *ngIf="authService.loggedIn" (click)="this.authService.logout()"><a>Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
