.footer {
    text-align: center;
}

.side-by-side > tbody > tr > td:nth-child(1){
    text-align: right;
    margin-right: 4px;
}

.side-by-side > tbody > tr > td:nth-child(2){
    text-align: left;
    margin-left: 4px;
}

select {
    color: black;
}

.panel {
    border-top: 2px solid #ff5857;
}

a {
    text-decoration: none!important;
    color: white;
}

.margin-bottom {
    margin-bottom: 0.5em;
}

.margin-top {
    margin-top: 0.5em;
}

.small-text {
    font-size: 0.75em;
}

.info-list > dt {

}

.info-list > dd {

}

.transparent-background {
    background-color: rgba(25, 25, 25, 0.85);
}

.fake-navbar-right {
    background-color: #43A047!important;
}

.fake-navbar-right:hover {
    background-color: #43A047!important;
}

.fake-navbar-right > .open > a {
    background-color: #1B5E20!important;
}

.fake-navbar-right > li > a:hover {
    color: white!important;
}

.nav {
    margin-bottom: -1px;
}

.admin-list {
    list-style-type: none!important;
}

.server-table > tbody {
    white-space: nowrap;
}

.thread-title {
    background-color: rgba(25, 25, 25, 0.85);
}

.thread-title > p {
    padding: 15px 15px 15px 15px;
    font-size: 1.1em;
}

.type-edit-dl > dt {
    float: left;
    padding-right: 16px;
}

.type-edit-dl > dd {

}

.select2-results__option {
    color: black;
}

blockquote {
    font-size: 1em;
}

.badge {
    margin-top: -3px;
}
