<table *ngFor="let category of categories" class="table category-table">
    <thead>
        <tr>
            <td colspan="3">
                {{category.title}}
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let subcategory of category.subcategories">
            <td>
                <strong>
                    {{subcategory.title}}
                </strong>
                <div class="smalltext">
                    {{subcategory.description}}
                </div>
            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </tbody>
</table>